
.logo-wrapper {
    padding: 3px 0;
    margin: 0;
    margin-top: 0px;
}

@media screen and (max-width: 320px) {
    .mobile-hide {
        display: none;
    }
}

.section-md {
    padding: 30px 0;
}

.section-lg {
    padding: 80px 0;
}

.section-title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 80px;
    margin-bottom: 0px;
}

.coin-section {
    border-top: 3px solid #e98024;
    border-bottom: 3px solid #e98024;
}

.home--header {
    width: 100%;
    background: linear-gradient(rgba(42, 48, 82, 0.6), rgba(42, 48, 82, 0.1)), url('../images/header-image_edited-sm.jpg') no-repeat;
    background-size: cover;
    padding: 20px;
    background-position: center;
    min-height: 75vh;
    position: relative;
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 48px;
    line-height: 60px;
}

.header-sub {
    display: block;
    margin: 0px 0;
    font-size: 36px;
    font-weight: 300;
}

.earn-interest {
    width: 800px;
    max-width: 100%;
}

@media screen and (max-width: 992px) {
    .mb-bottom-30 {
        margin-bottom: 50px;
    }
    .header-title {
        font-size: 36px;
        line-height: 40px;
        font-weight: 300;
    }
    .lg-center {
        text-align: center !important;
    }
}

@media only screen and (max-width: 574px) {
    .md-center {
        text-align: center !important;
    }
    .header-title {
        font-size: 36px;
        line-height: 40px;
        font-weight: 300;
        text-align: center;
    }
    .header-sub {
        font-size: 26px;
        line-height: 30px;
        font-weight: 300;
        text-align: center;
    }
}

.usb-coin {
    width: 150px;
    max-width: 100%;
}

.separator-line-thin-gray-xs {
    height: 1px;
    background-color: #dedede;
    margin: 0;
}

.separator-line-thin-gray {
    height: 1px;
    background-color: #dedede;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separator {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
}

.separator-md {
    height: 20px;
}

.separator-lg {
    height: 30px;
}

.separator-xl {
    height: 50px;
}

.bottom-white-border {
    border-bottom: 1px solid #ffffff;
}

.right-white-border {
    border-right: 1px solid #ffffff;
}

.icon-xs {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-md {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    max-width: 100%;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-lg {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    max-width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-xl {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    max-width: 150%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-buy {
    background: url('../svg/buy.svg') no-repeat;
    background-position: center;
}

.icon-trade {
    background: url('../svg/trade.svg') no-repeat;
    background-position: center;
}

.icon-clients {
    background: url('../svg/clients.svg') no-repeat;
    background-position: center;
}

.icon-contract {
    background: url('../svg/contract.svg') no-repeat;
    background-position: center;
}

.icon-crypto-traders {
    background: url('../svg/crypto-traders.svg') no-repeat;
    background-position: center;
}

.icon-hold {
    background: url('../svg/hold.svg') no-repeat;
    background-position: center;
}

.icon-online-business {
    background: url('../svg/online-business.svg') no-repeat;
    background-position: center;
}

.icon-peaceofmind {
    background: url('../svg/peaceofmind.svg') no-repeat;
    background-position: center;
}

.icon-redeem {
    background: url('../svg/redeem.svg') no-repeat;
    background-position: center;
}

.icon-redeem-usd {
    background: url('../svg/redeem-usd.svg') no-repeat;
    background-position: center;
}

.icon-source-code {
    background: url('../svg/source-code.svg') no-repeat;
    background-position: center;
}

.icon-supply {
    background: url('../svg/supply.svg') no-repeat;
    background-position: center;
}

/* SVG */

.window {
    fill: #e98024;
    stroke: #e98024;
}

/* Video Embed */

.video-container {
    width: 100%;
    height: 0px;
    position: relative;
    padding-bottom: 56.19%;
    //box-shadow: 0 3px 28px 0 rgba(0, 0, 0, 0.03), 0 3px 28px 0 rgba(0, 0, 0, 0.3);
}

.video-container iframe, .video-container object, .video-container embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Modifiers */

.title-xl {
    font-size: 36px;
}

.ft-100 {
    font-weight: 100;
}

.ft-300 {
    font-weight: 300;
}

.ft-400 {
    font-weight: 400;
}

.table-col {
    border-bottom: 3px solid #f2f2f2;
}

.bottom--30 {
    margin-bottom: -30px;
}

.bottom-30 {
    margin-bottom: 30px;
}

.dark-grey-bg {
    background: #eaeaea;
}

#video, #why-usb, #usb-clients, #get-started, #benefits, #tech, #faq {
    padding-bottom: 50px;
}

/* Banner */
#banner {
    width: 100%;
    background: url('../svg/inateractive-bg.svg') no-repeat;
    background-size: cover;
    padding: 0 20px;
    padding-top: 100px;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
}
/* Clock */
.banner-clock {
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    position: relative;
}

/* Headphones */
.banner-headphones {
    max-width: 130px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.podcast-controls {
    width: 150px;
    height: 55px;
    background-color: #dedede;
    border: 2px solid #2a3052;
    border-radius: 5px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.podcast-playback {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    max-width: 40%;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.podcast-source {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    max-width: 30%;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.podcast-pause {
    background: url('../svg/pause.svg') no-repeat;
    background-position: center;
}

.podcast-play {
    background: url('../svg/play.svg') no-repeat;
    background-position: center;
}

.podcast-back {
    background: url('../svg/back.svg') no-repeat;
    background-position: center;
}

.podcast-next {
    background: url('../svg/next.svg') no-repeat;
    background-position: center;
}

/* Monitor */
.banner-monitor {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    position: relative;
}

.banner-monitor h1 {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
}

/* Calendar */
.banner-calendar {
    max-width: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    position: relative;
}

.banner-calendar-date {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    font-size: 36px;
    font-weight: 300;
}

.banner-calendar-month {
    position: absolute;
    top: 23px;
    left: 0;
    right: 0;
    color: #ffffff;
}

/* Cactus */
.banner-cactus {
    max-width: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

/* Books */
.banner-books {
    max-width: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

/* Modifiers */
.block-element {
    display: block;
}