
.topnav {
    text-align: right;
    margin-top: 17px;
}

/* Nav Layout: */
.col-left {
    flex: 1;
}

.col-right {
    flex: 3;
}

@media only screen and (min-width: 1200px) {
    .navbar-container {
        display: flex;
    }
}

.nav-col {
    padding: 0 15px;
    margin: 0;
}

.topnav a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.topnav .button, .topnav a.button-secondary {
    padding: 0;
    border: none;
}

.topnav a.button:hover, .topnav a.button-secondary:hover {
    padding: 0;
    border: none;
}

.topnav a:hover {
    border-bottom: 0px solid #dedede;
    color: #cccccc;
}

.grill {
    display: block;
    position: fixed;
    top: 27px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    z-index: 9;
}

.grill-ico {
    background: url('../svg/menu.svg') no-repeat;
    background-position: center;
}

@media screen and (max-width: 1198px) {
    .navbar-fixed-top {
        position: relative;
        background: #2a3052;
        border-bottom: 0px solid #e98024;
    }
    .topnav a {
        display: block;
        width: 100%;
        text-align: left;
    }
    .topnav {
        overflow: visible;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: none;
        background: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        background: #2a3052;
        color: #ffffff;
        border-bottom: 0px solid #e98024;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    }
    .grill {
        display: none;
    }
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.top-nav-collapse a {
    color: #ffffff;
}

.top-nav-collapse a:hover {
    color: #cccccc;
}

#select_language {
    z-index: 9999 !important;
}

#select_language li a:link {
    color: #000000 !important;
    font-weight: normal !important;
}

#select_language li a:visited {
    color: #000000 !important;
    font-weight: normal !important;
}

#topbar .language-wrapper, .topbar .language-wrapper {
    vertical-align: middle;
    padding: 0 1px;
    display: inline-flex;
    min-width: 58px;
    margin: 0 auto;
}

.topbar .language-wrapper .language {
    padding: 5px 1px;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.page-scroll, .logo-scroll, .noSelect, #push {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.test {
    background-color: #000000;
}
