---
layout: default
title: 
excerpt: 
keywords: 
---
{% include geturl.html %}
{% include lang.html %}
<div class="home--header">
    <div class="container">
        <div class="row">
            <div class="col center-text">
                <div class="header-content">
                    
                    <h1 class="header-title ft-900 Mont content-inverse-color">USDB</h1>
                    <h3 class="header-subtitle content-inverse-color Mont">A stable coin backed by the US Dollar</h3>
                    <p class="content-inverse-color Mont ft-500 title-xxs">Guaranteed by Binary.com, USDB is a digital currency pegged on a 1-to-1 basis with the US Dollar.<br>Send and receive payments with the peace of mind that your currency is backed by the strength of Binary.com’s</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="how-it-works">
    <div class="container-xl section-md">
        <div class="row">
            <div class="col center-text">
                
                <h2 class="section-title">How it works</h2>
                <p>The value of USDB is pegged to the US Dollar, so you get the best of both worlds: the benefits of decentralised digital assets and the stability of fiat currencies.</p>
            </div>
        </div>
    </div>
    <div class="container-xl center-text">
        <div class="row">
            <div class="col-lg-4">
                <div class="icon-lg icon-review icon-center svg-icon"></div>
                <h3 class="ft-900 content-color">Fully backed by US Dollar</h3>
                <p>USDB is a stable coin pegged 1-to-1 with the US Dollar. Binary.com guarantees that 1 USDB will always be worth 1 </p>
            </div>
            <div class="col-lg-4">
                <div class="icon-md-rounded icon-signup icon-center svg-icon"></div>
                <h2 class="ft-400 content-color">Redeem for USD anytime</h2>
                <p>To redeem USDB for USD, complete the Binary.com KYC check, then perform the conversion using our transfer between accounts facility. </p>
            </div>
            <div class="col-lg-4">
                <div class="icon-md-rounded icon-signup icon-center svg-icon"></div>
                <h2 class="ft-400 content-color">Peace of mind</h2>
                <p>USDB is backed by Binary.com –– a profitable, 18-year-old company with annual turnover exceeding USD 1 billion. </p>
            </div>
        </div>  
    </div>
</div>


<div class="primary-bg-color">
    <div class="container-xl section-md">
        <div class="row">
            <div class="col">
                <p class="content-inverse-color font-s text-justify">{{ translate.footer_legal }}</p>
                <p class="content-inverse-color font-s">{{ translate.footer_play_responsibly }} <a class="footer-legal-link" href="{{ translate.footer_play_responsibly_url }}">{{ translate.footer_play_responsibly_link }}</a></p>
            </div>
        </div>
    </div>
</div>