<div id="banner" class="section-md">
    <div class="container section-intro center-text">
        <div class="row">
            <div class="col center-text">
                <h2 class="section-title primary-color">Banner</h2>
                <p>The value of USDB is pegged to the US Dollar, so you get the best of both worlds: the benefits of decentralised digital assets and the stability of fiat currencies.</p>
                <div id="container">
                    <div class="box second clockS"></div>
                    <div class="box minute clockM"></div>
                    <div class="box hour clockH"></div>
                </div>
                <div class="icon-xl icon-redeem ico-1" ></div>
                <div class="s-box" id="my-box"></div>
                
            </div>
        </div>
    </div>
</div>