/* Logo */

.logo-wrapper {
    padding: 0px;
    margin: 0;
}



@media screen and (max-width: 992px) {
      .logo-wrapper {
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          display: block!important;
          padding-top: 20px;
    } 
}

/* Section */

.section-md {
    padding: 30px 0;
}
.section-title {
    font-size: 55px;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 0px;
    //color: #2a3052;
}
@media screen and (max-width: 576px) {
    .section-title {
        font-size: 36px;
        font-weight: 400;
    }
    .mb-bottom-30 {
        margin-bottom: 50px;
    }
}
.section-intro {
    margin-bottom: 50px;
}

.coin-section {
    border-top: 3px solid #e98024;
    border-bottom: 3px solid #e98024;
}

/* home */


.home--header {
	width: 100%; /* for IE 6 */
	background:  
	linear-gradient(
      rgba(42, 48, 82, 1),
      rgba(42, 48, 82, .5)
    ),
	url(../images/h1.jpg) no-repeat;
    background-size: cover;
	padding: 20px;
	background-position: top;
    min-height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
}

.header-coin {
    width: 80px;
    max-width: 100%;
    margin-top: -10px;
    margin-right: 5px;
}

.header-title {
    font-size: 64px;
    line-height: 60px;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header-subtitle {
    font-size: 16px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header-sub {
    display: table;
    background-color:  rgba(42, 48, 82, 0.5);
    margin: 10px 0;
    padding: 10px 20px;
}

.earn-interest {
    width: 800px;
    max-width: 100%;
}

/* Video Embed */

.video-container {
    width: 100%; 
    height: 0px; 
    position: relative; 
    padding-bottom: 56.19%;
    //box-shadow: 0 3px 28px 0 rgba(0, 0, 0, 0.03), 0 3px 28px 0 rgba(0, 0, 0, 0.3);
}
.video-container iframe,
.video-container object,
.video-container embed {
   width: 100%; 
   height: 100%; 
   position: absolute; 
   top: 0;
   left: 0; 
}



.footer-legal-link,
.footer-legal-link:visited {
    color: #FFF;
    text-decoration: underline;
}

/* div tables */

.commission-cell {
    display: block;
    margin: 0 -15px;
    padding: 20px 10px;
    font-size: 16px;
}

/* Social */

.Social ul {
    margin: 0;
    padding: 0
}

.Social ul li {
    display: inline-block;
    margin: 0;
    padding: 10px
}

.Social img {
    width: 50px;
    height: 50px
}

.Social {
    text-align: center;
    margin: 15px 0
}

@media only screen and (max-width:768px) {
    .md-center {
        text-align: center !important;
    }
}

@media only screen and (max-width:992px) {
    .Social {
        margin-top: 5px;
        margin-bottom: 15px;
        text-align: center
    }
    .lg-center {
        text-align: center !important;
    }
}

