.logo-wrapper {
    padding: 0px;
    margin: 0;
}
@media screen and (max-width: 992px) {
      .logo-wrapper {
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          display: block!important;
          padding-top: 20px;
    } 
}
.section-md {
    padding: 30px 0;
}
.section-title {
    font-size: 36px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 0px;
}
.section-intro {
    margin-bottom: 50px;
}
.coin-section {
    border-top: 3px solid #e98024;
    border-bottom: 3px solid #e98024;
}
.home--header {
	width: 100%; /* for IE 6 */
	background:  
	linear-gradient(
      rgba(42, 48, 82, 1),
      rgba(42, 48, 82, .5)
    ),
	url(../images/h1.jpg) no-repeat;
    background-size: cover;
	padding: 20px;
	background-position: top;
    min-height: 60vh;
    position: relative;
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 64px;
    line-height: 60px;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header-sub {
    display: table;
    background-color:  rgba(42, 48, 82, 0.5);
    margin: 10px 0;
    padding: 10px 20px;
}

.earn-interest {
    width: 800px;
    max-width: 100%;
}

/* Video Embed */

.video-container {
    width: 100%; 
    height: 0px; 
    position: relative; 
    padding-bottom: 56.19%;
}
.video-container iframe,
.video-container object,
.video-container embed {
   width: 100%; 
   height: 100%; 
   position: absolute; 
   top: 0;
   left: 0; 
}
.footer-legal-link,
.footer-legal-link:visited {
    color: #FFF;
    text-decoration: underline;
}

@media only screen and (max-width:768px) {
    .md-center {
        text-align: center !important;
    }
    .home--header {
        min-height: 50vh;
    }
}
@media screen and (max-width: 992px) {
    .mb-bottom-30 {
        margin-bottom: 50px;
    }
    .header-title {
        font-size: 36px;
        line-height: 40px;
        font-weight: 300;
    }
    .lg-center {
        text-align: center !important;
    }
}
.usdb-coin {
    width: 150px;
    max-width: 100%;
}